.forgot-password {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot-password-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.forgot-password-container input {
    padding: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    width: 300px;
}

.forgot-password-container button {
    padding: 10px;
    background-color: tomato;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.forgot-password-container button:disabled {
    background-color: #ffccc4;
    cursor: not-allowed;
}
