.wishlist {
    margin-top: 30px;
}

.wishlist h2 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}

.wishlist-display-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}

.empty-wishlist {
    text-align: center;
    font-size: 18px;
    color: #666;
    margin-top: 50px;
}
